.hero-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-size: 24px 24px;
}
.hero-color-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-size: 24px 24px;

  mask-repeat: no-repeat;
  mask-size: contain;
  background-color: #000000;
}
[data-bs-theme="dark"] .hero-color-icon {
  background-color: #ffffff;
}

.item-wood {
  mask-image: url("/icons/items/wood.svg");
}
.item-explorer-move {
  mask-image: url("/icons/items/exporer-move.svg");
}

.hero-download {
  background-color: #ffffff;
  mask-size: cover;
  mask-image: url("/icons/download.svg");
  mask-repeat: no-repeat;
}
