.hero-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-size: 24px 24px;
}
.item-wood {
  background-image: url('/icons/items/wood.svg');
}
.item-explorer-move {
  background-image: url('/icons/items/exporer-move.svg');
}

.hero-download {
  background-color: #ffffff;
  mask-size: cover;
  mask-image: url('/icons/download.svg');
  mask-repeat: no-repeat;
}
