<!DOCTYPE html>
<html>
<head>
  <script src="./lib.js"></script>
</head>
<body>
  <canvas id="cells" style="width: 1200px; height: 800px; outline: 1px solid gray; margin: 0 auto; display: block;">&nbsp</canvas>
  <script>
    const TYPE_GOLD = "gold"
    const TYPE_CONSUMABLE = "consumable"
    const TYPE_BANNER_STONE = "bannerStone"
    const TYPE_COIN = "coin"
    const TYPE_FRAGMENT_GEAR = "fragmentGear"
    const TYPE_STAR_MONEY = "starmoney" // ?

    // download lib.json file (see readme file)
    // add string "var libData = " to start of a json content
    // rename file, lib.json => lib.js

    console.log("seasonAdventure", window.libData.seasonAdventure)

    const adventureData = window.libData.seasonAdventure
    const nodes = Object.values(adventureData.level)
    const map = adventureData.list["4"].map
    const cells = map.cells

    console.log("map.4 =", map);

/*
v1147, 25.07.2024 13:40

adventureData.list.4
- id: 4
- duration: 7862400 / 60 / 60 / 24 = 91 days
- map
-- cells: Array(1718) 
-- regions: Array(4)

regions[0]
- condition: time > 0
- levels: Array(859)
- initLevels: Array(7)

Часть 2
regions[1]
- condition: time > 1721613600, time > 03.07.2024 @ 05:00:00 MSK (GTM +03:00)
- levels: Array(7)
- initLevels: Array(7)

Для летнего фестиваля
regions[2]
- condition: time > 1721613600, time > 22.07.2024 @ 05:00:00 MSK (GTM +03:00)
- levels: Array(7)
- initLevels: Array(7)
​​​​​​​0: 146
​​​​​​​1: 148
​​​​​​​2: 130 Монета турнира стихий 2000 шт, coin, id = 18
​​​​​​​3: 166 Сундук космических артефактов 5 шт, consumable, id = 301
​​​​​​​4: 167
​​​​​​​5: 132 Древний сундук артефактов титанов 3 шт, consumable, id = 149
​​​​​​​6: 131

Часть 1
regions[3]
- condition: time > 1719972000, time > 03.07.2024 @ 05:00:00 MSK (GTM +03:00)
- levels: Array(1)
- initLevels: Array(1)
*/

    const levels = nodes.filter((o) => o.season === 4)
    console.log("seasonNodes, level", levels)

    showMinMax(cells)
    showData()

    const cellsElement = document.getElementById("cells")
    const context = cellsElement.getContext("2d")

    const SIDE = 1
    const BORDER = 1
    const TRANSLATE_X = 100
    const TRANSLATE_Y = 80

    drawAxes()
    drawCells(cells)
    drawRewardCells(cells)

    function showMinMax(cells) {
      let minX = 9999
      let maxX = -9999
      let minY = 9999
      let maxY = -9999
      let isX = true

      cells.forEach((v) => {
        if (isX) {
          if (v < minX) {
            minX = v
          }
          if (v > maxX) {
            maxX = v
          }
        } else {
          if (v < minY) {
            minY = v
          }
          if (v > maxY) {
            maxY = v
          }
        }

        isX = !isX
      })
      console.log("minX, maxX", minX, maxX, "minY, maxY", minY, maxY)
    }

    function showData() {
      let itemTypesMap = {}
      let nodeCoins = []
      let rewardsMap = {}
      let items = []

      levels.forEach((node) => {
        if (node.steps.length > 0) {
          node.steps.forEach((step) => {
            //console.log(step.cost)

            if (typeof step.cost.coin === "object") {
              nodeCoins.push(step.cost.coin)
            }

            const reward = step.reward
          // console.log("cost.reward", reward)

            for (const typeName in reward) {
              itemTypesMap[typeName] = true

              if (typeName === TYPE_STAR_MONEY) {
                //console.log(TYPE_STAR_MONEY, reward)
              }

              if (typeName === TYPE_GOLD) {
                const count = reward[typeName]
                items.push({type: TYPE_GOLD, count})
              } else {
                const rewardCountMap = reward[typeName]
              // console.log(rewardCountMap);

                for (const id in rewardCountMap) {
                  const count = parseInt(rewardCountMap[id])
                  items.push({type: typeName, id: parseInt(id), count})
                }
              }
            }
          })
        }
      })

      console.log("item types", Object.keys(itemTypesMap))
      console.log("coins size (nodes size?)", nodeCoins.length)
      console.log("items", items)
    }

    function drawAxes() {
      context.moveTo(0, -999)
      context.lineTo(0, 999)
      context.moveTo(-999, 0)
      context.lineTo(999, 0)
      context.stroke()
    }

    function drawCells(cells) {
      // 0 - x, 1 - y, 2 - x, 3- y...
      const S = SIDE * 2 + 1 + BORDER * 2

      context.save()
      context.beginPath()
      context.translate(TRANSLATE_X, TRANSLATE_Y)

      i = 0
      while (i < cells.length) {
        const x = cells[i]
        const y = getY(cells, i + 1, x)

        context.rect(x * S - SIDE - BORDER, y * S - SIDE - BORDER, SIDE * 2 + 1, SIDE * 2 + 1)

        i = i + 2
      }

      context.fill()
      context.restore()
    }

    function drawRewardCells(cells) {
      // seasonNodes, level: Array(859)
      // map.4.cells: Array(1718)
      // 1718 / 2 = 859
      // level => cell : level * 2

      context.save()
      context.beginPath()
      context.translate(TRANSLATE_X, TRANSLATE_Y)
      context.fillStyle = "red";

      const S = SIDE * 2 + 1 + BORDER * 2

      for (let i = 0; i < levels.length; ++i) {
        const levelData = levels[i]

        if (!levelData.steps || levelData.steps.length === 0) {
          continue
        }

        const step = levelData.steps[0]
        const x = cells[levelData.level * 2]
        const y = getY(cells, levelData.level * 2 + 1, x)

        if (x === 11) {
        //if (Object.keys(step.reward).length > 1) {
          console.log(x, y, step.reward)

          // LIB_COIN_NAME_27	"Монета Летнего Фестиваля" <=
          // LIB_COIN_NAME_43	"Монета Летнего Фестиваля"

          // LIB_COIN_NAME_24	"Камень облика Титана"

          // LIB_CONSUMABLE_NAME_204	"Высшая регалия на выбор"
          // LIB_CONSUMABLE_NAME_4	"Рунный монолит"
          // LIB_CONSUMABLE_NAME_339	"Сундук Абсолютных Артефактов"
        }

        const wide = SIDE * 2 + 1
        context.rect(x * S - SIDE - BORDER, y * S - SIDE - BORDER, wide, wide)
      }

      context.fill()
      context.restore()
    }

    function getY(cells, index, x) {
      return -cells[index] + x * 0.5
    }
  </script>
</body>
</html>
