<!DOCTYPE html>
<html>
<head>
  <script src="./lib.js"></script>
</head>
<body>
  <canvas id="cells" style="width: 1200px; height: 800px; outline: 1px solid gray; margin: 0 auto; display: block;">&nbsp</canvas>
  <script>
    const TYPE_GOLD = "gold"
    const TYPE_CONSUMABLE = "consumable"
    const TYPE_BANNER_STONE = "bannerStone"
    const TYPE_COIN = "coin"
    const TYPE_FRAGMENT_GEAR = "fragmentGear"
    const TYPE_STAR_MONEY = "starmoney" // ?

    // download lib.json file (see readme file)
    // add string "var libData = " to start of a json content
    // rename file, lib.json => lib.js

    console.log(window.libData.seasonAdventure)

    const adventureData = window.libData.seasonAdventure
    const nodes = Object.values(adventureData.level)
    const map = adventureData.list["4"].map

    console.log(map);

/*
v1147, 25.07.2024 13:40

adventureData.list.4
- id: 4
- duration: 7862400 / 60 / 60 / 24 = 91 days
- map
-- cells: Array(1718) 
-- regions: Array(4)

Часть 1?
regions[0]
- condition: time > 0
- levels: Array(859)
- initLevels: Array(7)

Часть 2
regions[1]
- condition: time > 1721613600, time > 03.07.2024 @ 05:00:00 MSK (GTM +03:00)
- levels: Array(7)
- initLevels: Array(7)

Для летнего фестиваля
regions[2]
- condition: time > 1721613600, time > 22.07.2024 @ 05:00:00 MSK (GTM +03:00)
- levels: Array(7)
- initLevels: Array(7)
​​​​​​​0: 146
​​​​​​​1: 148
​​​​​​​2: 130 Монета турнира стихий 2000 шт, coin, id = 18
​​​​​​​3: 166 Сундук космических артефактов 5 шт, consumable, id = 301
​​​​​​​4: 167
​​​​​​​5: 132 Древний сундук артефактов титанов 3 шт, consumable, id = 149
​​​​​​​6: 131

Часть 1?
regions[3]
- condition: time > 1719972000, time > 03.07.2024 @ 05:00:00 MSK (GTM +03:00)
- levels: Array(1)
- initLevels: Array(1)
*/

    const seasonNodes = nodes.filter((o) => o.season === 4)
    console.log("seasonNodes, level", seasonNodes)

    const summerInitLevels = [130, 131, 132, 146, 148, 166, 167]
    const summerNodes = seasonNodes.filter((o) => {
      return summerInitLevels.includes(o.level)
    })
  //  console.log("summerInitNodes", summerNodes)

    let minX = 9999
    let maxX = -9999
    let minY = 9999
    let maxY = -9999
    let isX = true
    map.cells.forEach((v) => {
      if (isX) {
        if (v < minX) {
          minX = v
        }
        if (v > maxX) {
          maxX = v
        }
      } else {
        if (v < minY) {
          minY = v
        }
        if (v > maxY) {
          maxY = v
        }
      }

      isX = !isX
    })
    console.log("minX, maxX", minX, maxX, "minY, maxY", minY, maxY)

    drawCells(map.cells)

    let itemTypesMap = {}
    let nodeCoins = []
    let rewardsMap = {}
    let items = []

    let levelMap = {}

    seasonNodes.forEach((node) => {
      if (summerInitLevels.includes(node.level)) {
     //   console.log(node)

        // level: 167
        // шагов нет, где награды лежат? 1 монета летнего фестиваля
      }

      if (node.steps.length > 0) {
        node.steps.forEach((step) => {
          //console.log(step.cost)

          if (typeof step.cost.coin === "object") {
            nodeCoins.push(step.cost.coin)
          }

          const reward = step.reward
         // console.log("cost.reward", reward)

          for (const typeName in reward) {
            itemTypesMap[typeName] = true

            if (typeName === TYPE_STAR_MONEY) {
              //console.log(TYPE_STAR_MONEY, reward)
            }

            if (typeName === TYPE_GOLD) {
              const count = reward[typeName]
              items.push({type: TYPE_GOLD, count})
            } else {
              const rewardCountMap = reward[typeName]
             // console.log(rewardCountMap);

              for (const id in rewardCountMap) {
                const count = parseInt(rewardCountMap[id])
                items.push({type: typeName, id: parseInt(id), count})
              }
            }
          }
        })
      }

      levelMap[node.level] = levelMap[node.level] ? levelMap[node.level] + 1 : 1
    })

    console.log("item types", Object.keys(itemTypesMap))
    console.log("coins size (nodes size?)", nodeCoins.length)
    console.log(levelMap)
    console.log("items", items)

    function drawCells(cells) {
      // 0 - x, 1 - y, 2 - x, 3- y...
      const cellsElement = document.getElementById("cells")
      console.log(cellsElement)
      const context = cellsElement.getContext("2d")

      const minX = -14
      const minY = -15
      // -14 30 = 44
      // -15 21 = 36
      const xCount = 14 + 30 + 2
      const yCount = 15 + 21 + 2

      const side = 1
      const border = 1
      const S = side * 2 + 1 + border * 2
      context.beginPath()

      context.translate(100, 80)
     // context.scale(0.3, 0.3);

      context.moveTo(0, -999)
      context.lineTo(0, 999)
      context.moveTo(-999, 0)
      context.lineTo(999, 0)
      context.stroke()


      i = 0
      while (i < cells.length) {
        const x = cells[i]
        const y = cells[i+1] - x * 0.5

        console.log(x, y)

        context.moveTo(x * 4, y * 4);
        context.rect(x * S - side - border, y * S - side - border, side * 2 + 1, side * 2 + 1)

        i = i + 2

        if (i > 30) {
        //  break
        }
      }

      context.fill()
    }
  </script>
</body>
</html>
